<?xml version="1.0"?>
<extension>
    <id>molpay_seamless</id>
    <version>1.0.0</version>
    <type>payment</type>
    <category>payment</category>
    <cartversions>
        <item>1.2</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="molpay_seamless_account">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="molpay_seamless_verify">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="molpay_seamless_secret">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
		<item id="molpay_seamless_test">
			<type>selectbox</type>
			<variants>
				<item>Test</item>
				<item>Live</item>
			</variants>
		</item>
        <item id="molpay_seamless_order_status_id">
            <type>selectbox</type>
            <variants>
                <data_source>
                    <model_rt>localisation/order_status</model_rt>
                    <method>getOrderStatuses</method>
                </data_source>
                <fields>
                    <field>order_status_id</field>
                    <field>name</field>
                </fields>
            </variants>
            <default_value>2</default_value>
        </item>
        <item id="molpay_seamless_location_id">
            <type>selectbox</type>
            <variants>
                <item>0</item>
                <data_source>
                       
                    <model_rt>localisation/location</model_rt>
                       
                    <method>getLocations</method>
                </data_source>
                <fields>
                    <field>location_id</field>
                    <field>name</field>
                </fields>
            </variants>
        </item>
		<item id="mps_ch_enable">
			<type>multiselectbox</type>
			<default_value></default_value>
			<variants>
				<item>affinonline</item>
				<item>amb</item>
				<item>bankislam</item>
				<item>cimbclicks</item>
				<item>hlb</item>
				<item>maybank2u</item>
				<item>pbb</item>
				<item>rhb</item>
				<item>fpx</item>
				<item>fpx_amb</item>
				<item>fpx_bimb</item>
				<item>fpx_cimbclicks</item>
				<item>fpx_hlb</item>
				<item>fpx_mb2u</item>
				<item>fpx_pbb</item>
				<item>fpx_rhb</item>
				<item>FPX_OCBC</item>
				<item>FPX_SCB</item>
				<item>FPX_ABB</item>
				<item>FPX_BKRM</item>
				<item>FPX_BMMB</item>
				<item>FPX_KFH</item>
				<item>FPX_BSN</item>
				<item>FPX_ABMB</item>
				<item>FPX_UOB</item>
				<item>cash-711</item>
				<item>credit</item>
				<item>ATMVA</item>
				<item>dragonpay</item>
				<item>paysbuy</item>
				<item>Point-BCard</item>
				<item>credit3</item>
				<item>NGANLUONG</item>
				<item>crossborder</item>
				<item>paypal</item>
				<item>enetsD</item>
				<item>UPOP</item>
				<item>alipay</item>
				<item>polipayment</item>
				<item>cash-epay</item>
				<item>WEBCASH</item>
				<item>PEXPLUS</item>
				<item>jompay</item>
				<item>Cash-Esapay</item>
				<item>TH_PB_SCBPN</item>
				<item>TH_PB_KTBPN</item>
				<item>TH_PB_BBLPN</item>
				<item>TH_PB_BAYPN</item>
				<item>TH_PB_CASH</item>
				<item>vtcpay-ewallet</item>
				<item>vtcpay-bank</item>
				<item>vtcpay-credit</item>
				<item>vtcpay-ewalletbank</item>
				<item>vtcpay-ewalletcredit</item>
				<item>vtcpay-bankcredit</item>
				<item>vtcpay-vietcombank</item>
				<item>vtcpay-techcombank</item>
				<item>vtcpay-mb</item>
				<item>vtcpay-vietinbank</item>
				<item>vtcpay-agribank</item>
				<item>vtcpay-dongabank</item>
				<item>vtcpay-oceanbank</item>
				<item>vtcpay-bidv</item>
				<item>vtcpay-shb</item>
				<item>vtcpay-vib</item>
				<item>vtcpay-maritimebank</item>
				<item>vtcpay-eximbank</item>
				<item>vtcpay-acb</item>
				<item>vtcpay-hdbank</item>
				<item>vtcpay-namabank</item>
				<item>vtcpay-saigonbank</item>
				<item>vtcpay-sacombank</item>
				<item>vtcpay-vietabank</item>
				<item>vtcpay-vpbank</item>
				<item>vtcpay-tienphongbank</item>
				<item>vtcpay-seaabank</item>
				<item>vtcpay-pgbank</item>
				<item>vtcpay-navibank</item>
				<item>vtcpay-gpbank</item>
				<item>vtcpay-bacabank</item>
				<item>vtcpay-phuongdong</item>
				<item>vtcpay-abbank</item>
				<item>vtcpay-lienvietpostbank</item>
				<item>vtcpay-bvb</item>
				<item>singpost</item>
			</variants>
		</item>         		
    </settings>
    <install>
	    <sql></sql>
	    <trigger>install.php</trigger>
	</install>
	<uninstall>
	    <sql></sql>
	    <trigger>uninstall.php</trigger>
	</uninstall>	
</extension>